@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nguyễn Triều Vương<br />
    <br />
    <abbr title="Phone">SĐT:</abbr>
    
</address>

<address>
    <strong>Hỗ trợ:</strong>   <a href="mailto:nguyentrieuvuong@gmail.com">nguyentrieuvuong@gmail.com</a><br />
</address>