@{
    ViewBag.Title = "Trang chủ";
}

<div class="jumbotron">
    <h1>Bệnh nhân BlockChain</h1>
    <p class="lead">Đề tài luận văn BlockChain Bệnh nhân.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Xem chi tiết &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bảo mật</h2>
        <p>
            BlockChain cho bảo mật thông tin
        </p>
        <p><a class="btn btn-default" href="#">Xem Thêm &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nhanh chóng</h2>
        <p>Mã hóa và Giải mã nhanh chóng.</p>
        <p><a class="btn btn-default" href="#">Xem Thêm &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Xu hướng</h2>
        <p>Bảo vệ an toàn dữ liệu người dùng là xu hướng.</p>
        <p><a class="btn btn-default" href="#">Xem Thêm &raquo;</a></p>
    </div>
</div>